each article in articles
  section.stage__item
    h4 #{article.type}#[span &#42;]
    a(href="reviews/#{article.name}" class="row article-images")
      img(src="https://assets.routinemagazine.com/img/load.png" data-src='https://assets.routinemagazine.com/img/#{article.leadImage}' class="lazyload first" alt="#{article.name}, 1")
      img(src="https://assets.routinemagazine.com/img/load.png" data-src='https://assets.routinemagazine.com/img/#{article.secondImage}' class="lazyload middle" alt="#{article.name}, 2")
      img(src="https://assets.routinemagazine.com/img/load.png" data-src='https://assets.routinemagazine.com/img/#{article.thirdImage}' class="lazyload last"  alt="#{article.name}, 3")
    .stage__item__text
      a(href="reviews/#{article.name}")
        h1!= article.indexTitle
      h3= article.indexSubtitle
      h2 #{article.type} #[span &nbsp; &#42; &nbsp;] #[a(href="contributors/#{article.contributor.slug}") #{article.contributor.name}] #[span &nbsp; &#42; &nbsp;] #{article.date}
