extends index-template 
block title    
  title Routine Magazine
   
block stageItems
  each article in articles
    .stage__item
      h6 #{article.type}#[span &#42;]
      a(href="reviews/#{article.name}" class="row")
        img(src="img/load.png" data-src='img/#{article.leadImage}' class="lazyload first")
        img(src="img/load.png" data-src='img/#{article.secondImage}' class="lazyload middle")
        img(src="img/load.png" data-src='img/#{article.thirdImage}' class="lazyload last")
      .stage__item__text
        a(href="reviews/#{article.name}")
          h1= article.indexTitle
        h5= article.indexSubtitle
        h4 #{article.type} #[span &nbsp; &#42; &nbsp;] #{article.contributor.name} #[span &nbsp; &#42; &nbsp;] #{article.date}
